<!--==========================
    INSIDE HERO SECTION Section
============================-->
<section class="page-image page-image-about md-padding">
	<h1 class="text-white text-center">ADMİN</h1>
</section>

<!--==========================
    ABOUTUS Section
============================-->
<section id="aboutus" class="md-padding">
	<div class="container">
		{{> admin-nav}}
	</div>
</section>

<!--==========================
    THE TEAM
============================-->

<section id="team" class="md-padding">
	<div class="container">

		<div class="row text-center">
			<div class="col-md-4 offset-md-4">
				<div class="section-header">
					<h2 class="title">The Team</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="team-member">
					<img class="mx-auto rounded-circle" src="https://lh3.googleusercontent.com/0oZ1EQMsE_inOedCYoeug0FRh52SSa1fLUk5e10PZWPmQElzOhBbJQwjbGXsnjqWu1fhTx9p010PX6FhbFFKeC8xWcMtdYryapHoX10i9-nhbOIJv2g3exSR6DdoNMv4pyEC85iTVYdS-E4OTPSxdu9VbdUvXsx4kaJtsEzEW8S-QIP0SGWxQ80I60_l9zQb2vu0Ml2b9ca7PDr9nNidXCoaR3klIy2wCgfvH2Xe-m80FfPJPapSIakuDQ4LACR-PwmsEMQ7ChLF5uaN9hjI8Je2bz__lgOIpjcl4Zd9ec25A7rrSqd3Z2lVXpVhhbn5Cb20g0u8KxoyBV2DA8C4l4vRFPZpPuTX3DGvT8dj_wmBAMH-i57LOwcCLi-WtxEtLqjCv317815p5TIYyeD1-MSo7lSh57dDlEKB3FP6vGhM8B8570VaZG7mZYgMaJs8Q1kcfikmVkY7HD9zbY3M1Ad7aaKPluaoSRVya1ZfCqR41RpYZzVB-lx9OeoWjxeNoQiu5x6BfZYPtd3FFvr2pJaIE4PUnoQ9pFjgV70hZisLq1A4j1dn_bKzZBHQVXjUxwCVaDAuSsDg0rRjDbptvZ26r6J3idweMgCY5QJo4ZP-X5EExasU3H3TtBggyrfFKa7JufHe7IVCcpGmfWqNl1cNgtjSdYTf5xwFpCZmETzCfWzhtmFtR-vjteR-vmkJHYRJazctmNL_NyDKrz2n0D8G=w530-h941-no?authuser=0" alt="">
					<h4>Mehmet Çetin</h4>
					<p class="text-muted">Developer</p>
					<ul class="list-inline social-buttons">
						<li class="list-inline-item">
							<a href="#">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="#">
								<i class="fab fa-instagram"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="#">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			
		
		</div>
	</div>
</section>